---
extension: html
filter:
  - haml
---
!!!
%head
  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/
  %meta{ :name => "author", :content => "#{@page.author}" }/
  %title
    == Les Hill &mdash; #{@page.title}

  %link{ :href => "/css/screen.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }/
  %link{ :href => "/css/coderay.css", :rel => "stylesheet", :media => "screen, projection", :type => "text/css" }/

  %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"}
  %script{ :type => "text/javascript", :src => "/javascript/jquery.twitter.js"}
  %script{ :type => "text/javascript", :src => "/javascript/application.js"}

  %link{ :href => "http://feeds2.feedburner.com/leshill", :title => "RSS feed", :rel => "alternate", :type => "application/atom+xml" }/
%body
  .site
    .title
      = link_to 'Les Hill', '/'
      = link_to 'twitter', "http://twitter.com/leshill/", :attrs => {:class => 'extra'}
      = link_to 'github', "http://github.com/leshill/", :attrs => {:class => 'extra'}
      = link_to 'archives', '/archives.html', :attrs => {:class => 'extra'}
    #post
      .title
        = link_to @page.title, @page.url
      .meta
        %abbr.published{ :title => @page.created_at.to_s }
          Posted #{@page.created_at.strftime('%B %d, %Y')}
      .content
        :preserve
          #{@content}
      .comments
        #disqus_thread
        %script{ :type => "text/javascript", :src => "http://disqus.com/forums/leshill/embed.js" }
        %noscript
          = link_to 'View the discussion thread.', "http://leshill.disqus.com/?url=ref"
        %a.dsq-brlink{ :href => "http://disqus.com" }
          blog comments powered by
          %span.logo-disqus
            Disqus
    = render :partial => '/footer'