---
extension: html
filter:
  - haml
---
= render :partial => '/head'
%body
  .container_12
    = render :partial => '/header'
    = render :partial => '/title', :locals => {:post => @page}
    = render :partial => '/post', :locals => {:post => nil}
    = render :partial => '/comments', :locals => {:post => @page}
    = render :partial => '/footer'
