---
filter: haml
---
#post
  .title
    = link_to post.title, post.url
  .meta
    %abbr.published{ :title => post.created_at.to_s }
      Posted #{post.created_at.strftime('%B %d, %Y')}
  .content
    :preserve
      #{render post}
  .comments
    #disqus_thread
    :javascript
      var disqus_url = 'http://blog.leshill.org#{post.url}';
    %script{ :type => "text/javascript", :src => "http://disqus.com/forums/leshill/embed.js" }
    %noscript
      = link_to 'View the discussion thread.', "http://leshill.disqus.com/?url=ref"
    %a.dsq-brlink{ :href => "http://disqus.com" }
      blog comments powered by
      %span.logo-disqus
        Disqus
