---
author: Les Hill
title:  Blog
layout: index
dirty:  true
filter:
  - haml
---
- posts =  @pages.find :all, :in_directory => 'blog', :recursive => true, :sort_by => "created_at", :reverse => true, :blog_post => true
- first_post = posts.shift
= render :partial => '/header'
= render :partial => '/title', :locals => {:post => first_post}
= render :partial => '/post', :locals => {:post => first_post}
= render :partial => '/comments', :locals => {:post => first_post}
= render :partial => '/footer'
